$primary-base-color: #633a82;
$primary-dark-color: #3a2a47;
$secondary-base-color: #f77995;
$secondary-dark-color: #f56c87;
$background-color: #f1f1f1;
$white-color: #fff;
$text-light-color: #bbb;
$text-color: #525252;

$fa-font-path: "~font-awesome/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color;
}

.todo-list {
  width: 40rem;
  margin: 4rem auto;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);

  .header {
    background-color: $primary-base-color;
    color: $white-color;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .content {
    background-color: $white-color;
    padding: 1.5rem;

    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $white-color;
  
      input {
        flex: 1;
        height: 2.5rem;
        background-color: $background-color;
        border-radius: 0.2rem;
        padding: 0 1rem;
        font-size: 1rem;
        color: #666;
        border: 0;
        outline-color: $text-light-color;
      }

      ::placeholder {
        opacity: 0.5;
      }

      button {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $secondary-base-color;
        color: $white-color;
        margin-left: 1rem;
        border: 0;
        border-radius: 50%;
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
        outline: none;

        &:hover {
          cursor: pointer;
          background-color: $secondary-dark-color;
        }
      }
    }

    .items {
      margin: 1rem 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 4rem;
        color: $text-color;
        margin: 0 1.2rem;

        .edit-item {
          flex: 1;
          color: $text-color;
          height: 2.2rem;
          font-size: 1rem;
          padding: 0 1rem;
          border: 1px solid $text-light-color;
          border-radius: 0.2rem;
          outline-color: $primary-base-color;
        }

        .check-item-container {
          display: flex;
          align-items: center;
        }
  
        .icon {
          margin-left: 1rem;
          color: $primary-base-color;
           
          &:hover {
            cursor: pointer;
            color: $primary-dark-color;
          }
        }
    
        + li {
          border-top: 1px solid $background-color;
        }
      }
 
      .empty-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $text-light-color;
        margin: 1.2rem;

        .empty-icon {
          font-size: 3rem;
          margin: 1rem;
        }
      }
    }
  }
}

.checkbox-item {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $primary-base-color;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;

  &.checked {
    background-color: $primary-base-color;

    &::before {
      color: $white-color;
    }

    &:hover::before {
      content: "\f068";
      color: $white-color;
    }
  }

  &:hover::before {
    color: $primary-base-color;
  }
}

.checkbox-item.checked::before, .checkbox-item:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: flex;
  justify-content: center;
  line-height: 1.2rem;
  font-size: 0.8rem;
  animation: grow 0.2s;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
